<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/client.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>Client</title>
</head>
<body>
    <main class ="container">
             <h2 class="h-head">Events</h2>
            <table class="table table-borderless">
                <thead >
                    <tr>
                        <th style="width:25%"></th>
                        <th style="width:50%;"></th>
                        <th style="width:25%"></th>
                    </tr>
                </thead>
                <tbody class ="eventsTbl" id="eventsTbl">
                </tbody>
            </table>
    </main>

    <script type="module" src="./js/client.js"></script>
</body>
</html>