<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css">
    

    <title>Home</title>
</head>
<body>
    <main class="wrapper">
        <section class="">
            <img src="./assets/img/logo.png" alt="logo">
            <h1>Where it´s @</h1>
        </section>
        <section class="">
            <button class="client"> <a href="./client.html">Client</a></button>
            <button class="login"><a href="./login.html">Our Staff / Admin</a></button>
        </section>
    </main>
</body>
</html