<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="wrapper">
        <main class="login-main">
            <section class="logo-section">
                <a href="./index.html"> <img src="./assets/img/logo.png" alt="logo"></a>
                <h1>Where it's @</h1><br>
                <h2>STAFF</h2>
            </section>
            <section class="form-section">
                <input type="text" placeholder="Username" id="username">
                <input type="password" placeholder="Password" id="password">
            </section>
            <button id="btnLogin">Log in</button>
            <p id="errorMsg" class="hide">X msg</p>
        </main>
    </div>

    <script src="./js/login.js"></script>
</body>
</html>