<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/verify.css">
    <title>Verification</title>
</head>
<body>
    <main class="wrapper">
        <section class="logo-section">
            <img src="./assets/img/logo.png" alt="">
            <h1>Where it´s @</h1>
            <h2>STAFF</h2>
        </section>
        <section class="input-area">
            <input type="text" placeholder="Biljett nummer" id="ticket-number">
        </section>
        <button type="submit" id="verify-ticket">Verify Ticket</button>
        <button type="submit" id="logout" class="button">Logout</button>
        <section class="response"></section>
     </main>    
    <script src="./js/verify.js"></script>
    
</body>
</html>